* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
    display: block;
}

li {
    list-style-type: none; 
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    height: 100%;
    width: 100%;
}

.header {
    height: 300px;
    border-bottom: #868080 10px solid;
    width: 100%;
}

.header__socials {
    max-height: 97px;
    height: 100%;
    background-color: #1C3076;
}

.header__socials .container{
    display: flex;
    align-items: center;
}

.header__socials__body {
    display: flex;
    align-items: center;
    width: 100%;
}

/* .header__socials__body img {
    height: 100%;
} */

.vk {
    height: 49px;
}

.telegram {
    height: 65px;
    margin: 0 20px;
}

.youtube {
    height: 49px;
}

.header__logos {
    max-height: 198px;
    height: 100%;
}


.header__logos__body {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.ai-space {
    color: rgba(134, 128, 128, 0.8);
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: end;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 17px;
}

.mai__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 315px;
    width: 100%;
}

.mai__logos {
    margin-bottom: 30px;
}

.mai__logos img {
    width: 100%;
    height: 100%;
}

.mai{
    height: 129px;
}

.it-center img  {
    height: 120px;
}

.laboratory {
    padding-top: 113px;
}

.laboratory__body {
    text-align: center;
}

.laboratory__title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #868080;
    padding-bottom: 79px;
}

.laboratory__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #757272;
    max-width: 1076px;
    display: inline-flex;
    vertical-align: middle;
}

.articles {
    padding-top: 68px;
    text-align: center;
}

.articles__title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #868080;
    padding-bottom: 91px;
}

.articles__cards {
    display: flex;
    justify-content: center;
    margin: 0 16px;
}

.card {
    background: url("../img/card__img.svg") no-repeat center;
    max-width: 700px;
    height: 540px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #EEE9E9;
    padding: 49px 48px 50px 44px;
    border-radius: 50px;
}

.partners {
    background: rgba(217, 217, 217, 0.5);
    min-height: 534px;
    margin-top: 99px;
}

.partners__body {

}

.partners__title {
    padding-top: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #B8B6B6;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 55px;
    margin-top: 40px;
    justify-content: space-evenly;
}

.partners__list img {
    height: 68px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.footer {
    background-color: #1C3076;
    min-height: 181px;
}

.footer a {
    color: #fff;
}



.footer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 181px;
    padding-bottom: 15px;
}

.footer__info {
    display: flex;
    padding-left: 10px;
    flex-wrap: wrap;
}

.footer__info__element {
    position: relative;
    padding-right: 2rem;
    font-size: 14px;
}

.footer__info__element:not(:last-child)::after {
    content: '/';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    opacity: 0.5;
    color: #fff;
}

.footer__links li {
    margin-right: 5px;
}
















@media (max-width: 992px) {
    .ai-space {
        font-size: 40px;
    }
    .vk {}
    .telegram {}
    .youtube {}
}

@media (max-width: 700px) {
    
    .header {
        border-bottom: 5px solid #868080;
    }

    .container {
        padding: 0 20px;
    }

    .vk, .vk img{
        height: 34px;
    }
    .telegram, .telegram img{
        margin: 0;
        height: 45px;
    }
    .youtube, .youtube img{
        height: 34px;
    }

    .ai-space {
        font-size: 30px;
    }
    .mai__logos {
        flex-direction: column;
        max-width: 100px;
        display: inline-flex;
        justify-content: space-around;
        margin-bottom: 0;
        align-items: center;
    }
    .mai, .mai img {
        height: 64px;
    }
    .it-center, .it-center img {
        height: 60px;
    }

    .laboratory__title {
        font-size: 28px;
        line-height: 30px;
    }
    .laboratory__text {
        font-size: 24px;
        line-height: 30px;
    }

    .partners__list img {
        height: 35px;
    }

    .footer__info__element {
        font-size: 10px;
    }
}





